[user]
	name = chirag3084
	email = surtivatsal23@gmail.com
[safe]
	directory = /storage/emulated/0/Audiobooks/invoice_generator
	directory = /storage/emulated/0/blockcanary/Django-Projects-for-beginners-main-616/Django-Projects-for-beginners-main-616/Movie_Project
	directory = /storage/emulated/0/Audiobooks/videodownloader
	directory = /storage/emulated/0/blockcanary/Django-Projects-for-beginners-main-616/Django-Projects-for-beginners-main-616/image_compressor
	directory = /storage/emulated/0/Audiobooks/pdf-to-word-django-master
	directory = /storage/emulated/0/Audiobooks/Django-Projects-for-beginners-main-616/Django-Projects-for-beginners-main-616/Django-personal-diary-app
	directory = /storage/emulated/0/Audiobooks/Django-Projects-for-beginners-main-616/Django-Projects-for-beginners-main-616/text_to_speech
	directory = /storage/emulated/0/Audiobooks/rock_paper_scissors
	directory = /storage/emulated/0/Audiobooks/Pdf-Editor-Django
	directory = /storage/emulated/0/Audiobooks/To-do-main
	directory = /storage/emulated/0/Audiobooks/HostelAllocation
	directory = /storage/emulated/0/Audiobooks/backend_Fullstack-TodoApp-main
	directory = /storage/emulated/0/Audiobooks/django banking app
	directory = /storage/emulated/0/Audiobooks/OYO-Clone
	directory = /storage/emulated/0/Audiobooks/backend_todo-app-flask-reactjs-main
	directory = /storage/emulated/0/Audiobooks/django Quiz Form
	directory = /storage/emulated/0/Audiobooks/GamingPlatform_JarvisArena
	directory = /storage/emulated/0/Audiobooks/django_csv_import
	directory = /storage/emulated/0/Audiobooks/Django Web Crawler
	directory = /storage/emulated/0/Audiobooks/django-chat-application
	directory = /storage/emulated/0/Audiobooks/django-leetcode-extension
	directory = /storage/emulated/0/Audiobooks/Django_5_PDF_Certificate_Generator
	directory = /storage/emulated/0/Audiobooks/Django-Doc_app
	directory = /storage/emulated/0/Audiobooks/Django-Poll-App
	directory = /storage/emulated/0/Audiobooks/Django-socialmedia-app
	directory = /storage/emulated/0/Audiobooks/Encryption-Decryption-Webapp
	directory = /storage/emulated/0/Audiobooks/ImageUploaderPro
	directory = /storage/emulated/0/Audiobooks/ImageUploaderPro
	directory = /storage/emulated/0/Audiobooks/ImageUploaderProject
	directory = /storage/emulated/0/Audiobooks/eHOSPITAL
	directory = /storage/emulated/0/Audiobooks/advance project/Django + PayPal Online Payment
	directory = /storage/emulated/0/Audiobooks/advance project/inventory_management_system
	directory = /storage/emulated/0/Audiobooks/advance project/facebook_clone
	directory = /storage/emulated/0/Audiobooks/advance project/Uber_Clone
	directory = /storage/emulated/0/Audiobooks/advance_project/Student management system
	directory = /storage/emulated/0/Audiobooks/advance_project/music-recommendation-system
	directory = /storage/emulated/0/Audiobooks/advance_project/instagram-clone-Django
	directory = /storage/emulated/0/Audiobooks/advance_project/django-DiscussionPlatform-App
	directory = /storage/emulated/0/Audiobooks/advance_project/library-management-system-master
	directory = /storage/emulated/0/Audiobooks/advance_project/Search_Engine_for_Wikipedia
	directory = /storage/emulated/0/Audiobooks/event_manager
	directory = /storage/emulated/0/Audiobooks/email_project
	directory = /storage/emulated/0/Audiobooks/ImageEditor_Django
	directory = /storage/emulated/0/Audiobooks
	directory = /storage/emulated/0/Audiobooks/brickbuster
	directory = /storage/emulated/0/Audiobooks/Movie_News
	directory = /storage/emulated/0/Audiobooks/django-multi-upload-master
	directory = /storage/emulated/0/Audiobooks/django-auth-main
	directory = /storage/emulated/0/Audiobooks/djangoffice-master
	directory = /storage/emulated/0/Audiobooks/authLab
	directory = /storage/emulated/0/Audiobooks/authform
	directory = /storage/emulated/0/Audiobooks/lesson1-IntroToDjango
	directory = /storage/emulated/0/Audiobooks/lesson2-DjangoSetup
	directory = /storage/emulated/0/Audiobooks/lesson3-DjangoApp
	directory = /storage/emulated/0/Audiobooks/lesson4-MigrateSQLite3
	directory = /storage/emulated/0/Audiobooks/lesson5-SQLiteShell-iPython
	directory = /storage/emulated/0/Audiobooks/lesson6-RenderHTMLTemplate
	directory = /storage/emulated/0/Audiobooks/lesson7-AdminDashboard
	directory = /storage/emulated/0/Audiobooks/lesson8-StaticAssets
	directory = /storage/emulated/0/Audiobooks/lesson9-DjangoForms
	directory = /storage/emulated/0/Audiobooks/lesson10-Authentication
	directory = /storage/emulated/0/Audiobooks/FinalProject
	directory = /storage/emulated/0/Audiobooks/decoratorauthentication
	directory = /storage/emulated/0/Audiobooks/my-django-master
	directory = /storage/emulated/0/Audiobooks/deleteview
	directory = /storage/emulated/0/Audiobooks/builtinsignals
	directory = /storage/emulated/0/Audiobooks/classbasedview
	directory = /storage/emulated/0/Audiobooks/customsignal
	directory = /storage/emulated/0/Audiobooks/aboutcookies
	directory = /storage/emulated/0/Audiobooks/formview
[init]
	defaultBranch = main
